<app-header>
  <p-floatlabel variant="in">
    <input
      type="text"
      class="w-[360px]"
      pSize="small"
      pInputText
      id="in_label"
      (keyup.enter)="handleSearch()"
      [(ngModel)]="filter.value.search"
      autocomplete="off"
    />
    <label for="in_label">Buscar</label>
    <p-button
      [disabled]="!filter.value.search.length"
      class="absolute cursor-pointer top-2.5 right-2"
      [rounded]="true"
      type="button"
      icon="pi pi-search"
      variant="text"
      (click)="handleSearch()"
      severity="primary"
      size="small"
    ></p-button>
  </p-floatlabel>
</app-header>
@if (listCardDashboard$ | async; as state) { @if(state.error) {
<app-error /> } @else { @if(state.loading) {
<app-loading></app-loading>
@for(item in [].fill(20); track item) {
<app-card-dashboard [loading]="true" /> } }
<div class="grid xs:grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 gap-3">
  @for (item of state.data; track item.id) {
  <app-card-dashboard
    [species]="item.species"
    [name]="item.name"
    [loading]="state.loading"
    [status]="item.status"
    [image]="item.image"
    [id]="item.id"
    [location]="item.location.name"
  />
  }
</div>
@if(!state.loading) {
<div>
  <app-pagination
    [currentPage]="filter.value.page"
    (setPage)="handleSetPage($event)"
    [total]="state.pagination.count"
  />
</div>
} } }
